@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  transition: 0.3s;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: #060016;
  color: #fdfdfd;
}

body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div > center > img {
  width: 250px;
  max-width: 80%;
}
div > center .updating-soon {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold;
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

div > center .updating-soon h1 {
  display: flex;
}

@media screen and (width <= 400px) {
  div > center .updating-soon h1 {
    font-size: 18px;
  }
}
div > center .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
}

div > center .contact a {
  text-decoration: none;
  border: 1px solid #fdfdfd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

div > center .contact a:hover i,
div > center .contact a:hover {
  transform: rotate(360deg);
  color: #474aff;
  border-color: #474aff transparent;
}

.u {
  display: inline-block;
  animation: moveY 3s infinite alternate 0.3s ease-in-out;
}
.p {
  display: inline-block;
  animation: moveY 3s infinite alternate 0.6s ease-in-out;
}
.d {
  display: inline-block;
  animation: moveY 3s infinite alternate 0.9s ease-in-out;
}
.a {
  display: inline-block;
  animation: moveY 3s infinite alternate 1.2s ease-in-out;
}
.t {
  display: inline-block;
  animation: moveY 3s infinite alternate 1.5s ease-in-out;
}
.i {
  display: inline-block;
  animation: moveY 3s infinite alternate 1.8s ease-in-out;
}
.n {
  display: inline-block;
  animation: moveY 3s infinite alternate 2.1s ease-in-out;
}
.g {
  display: inline-block;
  animation: moveY 3s infinite alternate 2.4s ease-in-out;
}
.s {
  display: inline-block;
  animation: moveY 3s infinite alternate 2.7s ease-in-out;
}
.o {
  display: inline-block;
  animation: moveY 3s infinite alternate 3s ease-in-out;
}
.o-soon {
  display: inline-block;
  animation: moveY 3s infinite alternate 3.3s ease-in-out;
}
.n-soon {
  display: inline-block;
  animation: moveY 3s infinite alternate 3.6s ease-in-out;
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(10px);
  }
}
